body{
    color: black;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
}   

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.headerFooter{
    background-color: #D1D2D4;
    right: 0;
}

.container{
    position: absolute;
    top: 12%;
    bottom: 12%;
    right: 0;
    width: 100%;
    display: grid;
    background-color: aqua;
}

.boxa{
    background-color: #EF4036;
    
}

.boxb{
    background-color: #FCB040;
   
}

.boxc{
    background-color: #F5EE31;
   
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 480px) and (max-width: 780px){
    .container{
        grid-template-columns: 1fr 1fr;
     }
     .boxa{
         order: 1;
     }
     .boxb{
        order: 3;
     }
     .boxc{
        order: 2;
        grid-row: span 2;
     }
}
/* Media Query for Laptops and Desktops */
@media  (min-width: 780px){
    .container{
        grid-template-columns: 2fr 1fr;
     }
     .boxa{
         order: 1;
     }
     .boxb{
        order: 3;
     }
     .boxc{
        order: 2;
        grid-row: span 2;
     }
}
