body{
    color: black;
}
.main{
    position: relative;
    width: 100%;
    height: 98vh;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
}   

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.headerFooter{
    background-color: #D1D2D4;
}

.container{
    position: absolute;
    top: 12%;
    bottom: 12%;
    width: 100%;
    background-color: aqua;
}

.boxa{
    background-color: #8CC63F;
    
}

.boxb{
    background-color:#0B9444;
   
}

.boxc{
    background-color:#F5EE31;
   
}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
     }
     .boxa{
        height: 50%;
     }
     .boxb{
        height: 25%;
     }
     .boxc{
        height: 25%;
     }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 480px) and (max-width: 780px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60% 40%;
     }
     .boxa{
         grid-column: span 2;
     }
}

/* Media Query for Laptops and Desktops */
@media  (min-width: 780px){
    .container{
        display: flex;
        flex-direction: row;
     }
     .boxa{
        order: 2;
        width: 50%;
     }
     .boxb{
        order: 1;
        width: 25%;
     }
     .boxc{
        order: 3;
        width: 25%;
     }
}
